article { 
    min-width: 150px;
    min-height: 220px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    padding: 15px 25px;

    h1 {
        text-align: center;
    }
}