<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"
      ><ion-button
        style="visibility: hidden; min-width: 48px; height: 48px;"
        aria-hidden="true"
      ></ion-button>
    </ion-buttons>
    <ion-title>Castle layout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title
        ><h1 title="castle's name">{{ name }}</h1></ion-card-title
      >
    </ion-card-header>

    <ion-card-subtitle *ngIf="rooms.length === 0">
      <h2
        class="ion-padding ion-text-center ion-text-uppercase"
        color="warning"
      >
        Every 🏰 needs a Throne room!
      </h2>
    </ion-card-subtitle>

    <ion-card-content>
      <app-castle-layout
        *ngIf="rooms.length > 0"
        [rooms]="rooms"
      ></app-castle-layout>
      <ion-grid>
        <ion-row> </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <app-score-card
    *ngIf="rooms.length > 0"
    [calculateAction]="scoreCardCalculate$"
  ></app-score-card>

  <ion-grid class="bottom-button">
    <ion-row align-items-end justify-content-end>
      <ion-col *ngIf="rooms.length === 0; else castleOptions" align-self-center>
        <ion-button
          (click)="goToAddThrone()"
          color="primary"
          expand="block"
          size="large"
        >
          <ion-icon slot="start" name="add"></ion-icon>
          Add Throne Room
        </ion-button>
      </ion-col>
      <ng-template #castleOptions>
        <ion-col>
          <ion-chip color="secondary" (click)="onReset()">
            <ion-icon name="flame"></ion-icon>
            <ion-label color="dark">Reset</ion-label>
          </ion-chip>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
  <app-fabby></app-fabby>
</ion-content>
