:host {
  height: inherit;
  width: 95%;
  margin: auto 2.5%;
}
.mini-size {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid;

    &#{&}--empty {
      height: 100%;
      background: lightgrey;
    }
  }

  &__content {
    text-align: center;
  }
}
