<div class="container">
  <ion-radio-group *ngIf="isEditable">
    <ng-container *ngTemplateOutlet="widgetGrid; context: { $implicit: setup }">
    </ng-container>
  </ion-radio-group>

  <ng-container *ngIf="!isEditable">
    <ng-container *ngTemplateOutlet="widgetGrid; context: { $implicit: setup }">
    </ng-container>
  </ng-container>
</div>

<!-- The grid view -->
<ng-template #widgetGrid let-default>
  <div class="frame" [appDynamicHeight]="default.numOfRows">
    <ngx-widget-grid
      [rows]="default.numOfRows"
      [columns]="default.numOfCols"
      [highlightNextPosition]="false"
      [showGrid]="default.isEditable"
    >
      <ngx-widget
        *ngFor="let room of default.widgetRooms"
        [(position)]="room.position"
        [resizable]="false"
      >
        <div class="widget-container">
          <ng-template [widgetContainer]="room.componentRef"></ng-template>
        </div>
      </ngx-widget>
    </ngx-widget-grid>
  </div>
</ng-template>
