<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title> Add Room for {{ castleName }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="form">
      <ion-row class="ion-align-items-center">
        <ion-label>Select a space to build your room</ion-label>
        <app-castle-layout
          [rooms]="rooms"
          [isEditable]="true"
        ></app-castle-layout>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Select the room to build</ion-label>
          <ion-auto-complete
            class="ion-margin-top"
            [dataProvider]="roomSelectionCompletion"
            formControlName="room"
            [options]="{ placeholder: 'Search by room name' }"
          ></ion-auto-complete>
        </ion-col>
      </ion-row>
      <ion-row align-items-end justify-content-end>
        <ion-col align-self-end>
          <ion-button
            (click)="onSubmit()"
            color="primary"
            expand="block"
            size="large"
            class="bottom-button"
          >
            <ion-icon slot="start" name="add"></ion-icon>
            Add
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
