.bottom-button {
  position: sticky;
  bottom: 0px;
}

ion-item.active-link {
  --background: var(--ion-color-light-shade);
}

.select-alert {
  .alert-radio-label {
    text-overflow: unset;
    white-space: normal;
  }
}
